.LoadingSpinner {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 5rem;

  .sbl-circ-path {
    height: 100px;
    width: 100px;
    color: rgba(90, 90, 90, 0.2);
    border: 5px solid;
    border-radius: 50%;
    border-right-color: rgb(41, 41, 176);
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}