.Login {
  text-align: center;
  position: relative;
  top: 3rem;
}

.Login-input {
  margin: auto 1rem
}

.form-group {
  position: relative;
  top: 1.5rem;
  font-weight: 600;
}

.Login-submit {
  position: relative;
  top: 1rem;
  left: 2rem;
  margin: 1rem 0;
}

.Login-form {
  text-align: center;
  margin: 1rem;
  position: relative;
  right: 2rem;
}

.Login-form-buttons {
  position: relative;
  left: 2rem;
}

.Login-label {
  width: 10rem;
  text-align: right;
}